<% layout("layouts/boilerplate") %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row mb-3">
            <div class="col-md-6 offset-md-3 col-xl-6 offset-xl-3">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                        alt="" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h3 class="card-title">Register</h3>
                        <form action="/register" method="POST" class="validated-from" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username" required
                                    autofocus>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" name="email" id="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="text" name="password" id="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-success col-12">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



            